body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

#home_container {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#upload_container {
  min-width: 30vw;
  margin-top: 35px;
}

#text_container {
  text-align: center;
}
